.InsertData {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.InsertData > form > input {
    border-radius: 30px;
    padding: 10px;
    outline-width:0 ;
    margin-top: 10px;
    width: 100%;
    min-width: 300px;
}

.InsertData > form > p {
    margin-top: 20px;
}

.InsertData > form > button {
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}

.InsertDataDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.InputDiv {
    display: block;
    margin-top: 20px;
}

.InputDiv > input, select {
    border-radius: 30px;
    padding: 10px;
    outline-width:0 ;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    min-width: 325px;
}
