.SidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

a {
    text-decoration: none;
    color: black;
}

.SidebarChat:hover{
    background-color: #ebebeb;
}

.SidebarChat > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.SidebarChat__info {
    margin-left: 15px;
}